PORT=3000
MAPBOX_TOKEN=your_mapbox_token_here
WEATHER_API_KEY=your_weather_api_key_here
WEBCAM_API_KEY=your_webcam_api_key_here
SATELLITE_API_KEY="As2r8Xp2puSgWalYsZjzmI0WfAZkld6uMMcNOcIS"

# Example: to use NASA Worldview snapshot proxy place your API key here if needed
# SATELLITE_API_KEY=As2r8Xp2puSgWalYsZjzmI0WfAZkld6uMMcNOcIS
